.Menu{
    background-color: brown;
    color: white;
    overflow: hidden;

    
}

.Menu .navbar-brand{
    color: white;
}

.Menu .nav-item .nav-link{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.Menu .navbar .nav-link .active{
    color: #4458dc;
}

.Menu .navbar .nav-link a:hover{
    background-color: #4458dc;
}